.instruction-footer
{
    background-color:#333;
    color: #eee;
    position:fixed;
    padding:8px 20px;
    bottom:0px;
    left:150px;
    right:0px;
    font-size: 0.85em;
}

.instruction-footer .queue-text
{
    margin-top: 2px;
    margin-left: 4px;
}

.instruction-footer .meter
{
    width: 180px;
}


#main .header.large-header {

    height: 116px !important;
    position:fixed;
    top:0px;
    left:150px;
    right:0px;
    z-index:6000;
}

#main .header h1
{
    margin-top:15px;
    margin-right:10px;
    font-weight:bold;
    font-size: 2em;
}

#main .header.small-header {
    text-align:left;
    padding:5px;
    height:64px;
    position:fixed;
    top:0px;
    left:150px;
    right:0px;
    z-index:6000;
}

#main .scroll-container
{
    position: fixed;
    overflow-y: auto;
    left:150px;
    right:0px;
    bottom:35px;
}

#main .scroll-container.large-header {
    top:116px;
}

#main .scroll-container.small-header {
    top:75px;
}


#menu .active-link {
    background-color:#333;
}

.fade-in {
    opacity:0;
    -webkit-transition: opacity 0.5s ease-in;
    transition:opacity 0.5s ease-in;
}

.fade-in-visible {
    opacity:1;
}

.pull-left {
    float:left;
}

.pull-right {
    float:right;
}

.pure-table th
{
    font-size: 0.9em;
    color: #444;
}
