<div class="header small-header">
    <img src="images/scotty-small.png" />
    <h1 class='pull-right'>Projects</h1>
</div>

<div class="scroll-container small-header">
    <div class="content">
        <p>
            <a href="#/projects/add" class='button-success pure-button'>
                <i class='fa fa-plus'> </i> Add Project
            </a>
        </p>

        <table class='pure-table'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phaser Version</th>
                    <th>Play</th>
                    <th>Edit</th>
                    <th>Browse</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects">
                    <td>{{project.name}}</td>
                    <td>{{project.phaser_version}}</td>
                    <td>
                        <a ng-click="play(project)" class='button-success pure-button'>
                            <i class='fa fa-play-circle'> </i>
                        </a>
                    </td>
                    <td>
                        <a href="#/projects/edit/{{project._id}}" class='button-secondary pure-button'>
                            <i class='fa fa-pencil'> </i>
                        </a>
                    </td>
                    <td>
                        <a ng-click="browse(project)" class="pure-button">
                            <i class='fa fa-folder-open'> </i>
                        </a>
                    </td>
                    <td>
                        <a href="#/projects/delete/{{project._id}}" class='button-error pure-button'>
                            <i class='fa fa-trash-o'> </i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
